#!/bin/bash

# Reporter Settings
PROPERTIES=Reporter.properties

# iTunes Connect Settings
VENDOR_ID=00000000
REPORT_TYPE=Sales
REPORT_SUB_TYPE=Summary
DATE_TYPE=Daily

# File Settings
HOME=`dirname $0`
OUTPUT_DIR=${HOME}/reports/

